body {
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.main {
    margin: auto;
    width: 50%;
    color: #2d0000;
}

.logo{
    width: 32px;
    padding: 5px;
    padding-left: 15px;
}

#header{
    margin: auto;
    width: 20%;
}

.profile{
    width: 60%;
    margin: 10px;
    border-radius: 50%;
}
.sociallink{
    font-size: 20px;
}